extends layout.pug

block title
    title Search results

block content

    .container

        include messages.pug
        
        include searchForm.pug

        main
            .masonry

                for item in links
                    +linkItem(item)

                +pagination(pagination)
