/* fallback */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v52/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

.card-content {
    overflow-wrap: break-word;
}

.link-image {
    max-width: 100%;
    max-height: 100%;
    /* display: block; */
    border-radius: 50%;
}

.search {
  margin-top: 1em;
}

.masonry { /* Masonry container */
  max-width: 100%;
  display: grid;
  grid-gap: 2em; /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat( auto-fill, minmax( 30%, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
  grid-auto-rows: 10px;
}

.item { /* Masonry bricks or child elements */
  /* background-color: #eee; */
  /* display: inline-block;
  margin: 0 0 1em;
  width: 100%; */
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat( auto-fill, minmax( 30%, 1fr ) ); 
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat( auto-fill, minmax( 48%, 1fr ) ); 
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) {
  .masonry {
    grid-template-columns: repeat( auto-fill, minmax( 100%, 1fr ) ); 
  }
}

.col--2x {
  grid-row-end: span 2;
}
.col--3x {
  grid-row-end: span 3;
}

.mb-1 {
  margin-bottom: 2em;
}